<!DOCTYPE html>
<html>
  <head>
    <title>ChartKick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# 今のバージョンだと必要ないらしい %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
